ul,
li {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  padding: 100px 156px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  column-gap: 24px;
}
img {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}
